<h1>מהנדסים למען הקהילה</h1>
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="assets/images/homepage.jpg" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="card-title"></div>
                <p class="card-text">פרויקט חברתי מוביל, בהשתתפות המחלקות האקדמיות של המכללה וארגונים העוסקים בסיוע ובשיקום בעלי צרכים מיוחדים. הפרויקט זוכה לתמיכת הוועדה לתכנון ולתקצוב (ות"ת) של המועצה להשכלה גבהה.</p>
                <p class="card-text">
                    על פי נתוני הלמ"ס כ-1,440,000 איש בעלי מוגבלויות שונות, המהווים כ-18% מאוכלוסיית המדינה, אינם מוצאים מענה הולם לצרכיהם במוצרים הקיימים.
                </p>
                <p class="card-text">
                    פרויקט מהל"ב מתמקד בהקמת מרכז ידע מחקרי ויישומי למען אוכלוסיית בעלי המוגבלויות. המרכז נוסד על בסיס פעילויות הקיימות במחלקה להנדסת מכונות ובמחלקה להנדסת תעשייה וניהול, תוך הרחבת שיתופי הפעולה והיחידות המעורבות בתוך המכללה ומחוצה לה.
                </p>
                <p class="card-text">
                    העשייה מקיפה קורסים אקדמיים, פרויקטי גמר של סטודנטים ומחקר של הסגל האקדמי. אתר זה נועד לרכז את הידע המצטבר ולחשוף אותו בפני כלל האוכלוסייה, לטובת בעלי המוגבלויות.
                </p>
            </div>
        </div>
    </div>
</div>
